@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e7eb;
  --foreground: #020617;

  --clr-good: lime;
  --clr-warning: orange;
  --clr-failure: red;
}
.dark {
  --background: #030712;
  --foreground: #f9fafb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

h1,
h2,
h3 {
  font-family: var(--font-oswald);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
