@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e7e7;
  --foreground: #141414;
}
.dark {
  --background: #141414;
  --foreground: #ebebeb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

h1,
h2,
h3 {
  font-family: var(--font-oswald);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  :root {
    --background: #fff;
    --foreground: #141414;
  }

  html,
  body {
    background-color: white !important;
  }

  body * {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    visibility: hidden;
  }

  #printable,
  #printable * {
    visibility: visible;
  }

  #printable {
    background: white;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
  }
}
