@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --bittersweet: hsla(8, 100%, 68%, 1);
  --skobeloff: hsla(177, 83%, 26%, 1);
  --seasalt: hsla(140, 16%, 96%, 1);
  --gunmetal: hsla(224, 14%, 22%, 1);
  --eerie-black: hsla(190, 10%, 12%, 1);

  --clr-white: var(--seasalt);
  --clr-grey: hsla(140, 16%, 90%, 1);
  --clr-black: var(--eerie-black);
  --clr-darkgrey: var(--gunmetal);

  --clr-primary: var(--gunmetal);
  --clr-secondary: var(--skobeloff);
  --clr-accent: var(--bittersweet);

  --font-stack-body: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-stack-headings: "Fjalla One", sans-serif;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--font-stack-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

header {
  padding: 4em 0;
  text-align: center;
}

h1.title {
  font-family: var(--font-stack-headings);
  font-size: 2.75em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

p.intro {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.content {
  background-color: var(--clr-grey);
  border-radius: 1rem;
  display: grid;
  gap: 2em;
  justify-items: center;
  margin: 2.5em auto 0;
  padding: 1.5em;
  width: fit-content;
}

nav.tab-nav {
  border-radius: 1rem 1rem 0 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

button.tab {
  background-color: transparent;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em;
  transition: all 200ms;
  width: fit-content;

  &:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
  }

  &:disabled {
    border: 2px solid hsla(140, 16%, 70%, 1);
    color: hsla(140, 16%, 70%, 1);
    cursor: auto;

    &:hover {
      background-color: transparent;
    }
  }
}

button.tab--active {
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  color: var(--clr-white);

  &:hover {
    background-color: var(--clr-accent);
  }
}

.productivity-form {
  display: grid;
  > label {
    font-weight: 600;
  }

  > label:not(:first-of-type) {
    margin-top: 1em;
  }

  .optional,
  .required {
    font-size: 0.9em;
    font-weight: 400;
  }

  > input,
  > textarea {
    border-radius: 0.5em;
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
    padding: 1em;
  }

  > p:first-of-type {
    margin-top: 0;
  }

  > button[type="submit"] {
    font-weight: 600;
    margin-top: 1.5em;
    padding: 0.5em;
    text-transform: uppercase;
    width: fit-content;
  }
}

.productivity-table {
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0;
  text-align: center;
  width: 100%;

  > thead {
    background-color: black;
    color: white;
    > tr > th {
      font-weight: 800;
      padding: 0.5em;
    }
  }

  > tbody > tr > td {
    border: 1px solid black;
    padding: 0.5em;
  }
}

.report {
  width: 100%;
}
